In [2]:
import pandas as pd
import numpy as np

#Create a DataFrame
df1 = {
    'Subject':['semester1','semester2','semester3','semester4','semester1',
               'semester2','semester3'],
   'Score':[62.73,47.76,55.61,74.67,31.55,77.31,85.47]}
df1 = pd.DataFrame(df1,columns=['Subject','Score'])
print(df1)

     Subject  Score
0  semester1  62.73
1  semester2  47.76
2  semester3  55.61
3  semester4  74.67
4  semester1  31.55
5  semester2  77.31
6  semester3  85.47

In [3]:
df1

     Subject  Score
0  semester1  62.73
1  semester2  47.76
2  semester3  55.61
3  semester4  74.67
4  semester1  31.55
5  semester2  77.31
6  semester3  85.47

In [4]:
round(df1['Score'])

0    63.0
1    48.0
2    56.0
3    75.0
4    32.0
5    77.0
6    85.0
Name: Score, dtype: float64

In [17]:
round(df1['Score'].mean())

62

In [18]:
rounded_mean = round(df1['Score'].mean(), 1)

In [19]:
rounded_mean

62.2

In [28]:
round(df1['Score'].mean())

62

In [27]:
round(df1['Score'].mean(), 1)

62.2

In [26]:
round(df1['Score'].mean(), 0)

62.0